html{
  height:100;
  width:100;
  box-sizing: border-box;
}
body{
position: relative;
margin:0;
padding-bottom:6reml
min-height: 100%
min-width: 100%
}
h1, h2, h3, h4, h5, h6{
font-size: 100px;
font-family:Impact, Charcoal, sans-serif;
}
p{
font-size:24;
font-family:"Comic Sans MS", cursive, sans-serif;
}
.basicdiv {
    color: #90949c;
    padding: 0 12px 2px;
}
.weight{
font-weight:normal;

}
.informacija{
font-size:24;
font-family:"Comic Sans MS", cursive, sans-serif;
color:black;
}
.fadein {
z-index: 1;
}

button {
    width: 100px;
    height: 30px;

}
.shadowbox {
  text-align: center;
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  padding: 8px 12px;
  background-color:rgba(255, 255, 255, 0.5);
}
.box{
    text-align: center;
  border: 1px solid #333;
  padding: 8px 12px;
  background-color:rgba(255, 255, 255, 0.5);
}
.boxwidth{
   text-align: center;
  border: 1px solid #333;
  padding: 8px 12px;
  background-color:rgba(255, 255, 255, 0.5);
  width:1300px;
  margin-left:10px;
  margin-right:10px;
}
#wrapper {
    min-width: 1300px;
    border: 1px solid black;
    overflow: hidden; /* will contain if #first is longer than #second */
}
#first {
    width: 50%;
    float:left; /* add this */
}
#second {
    overflow: hidden; /* if you don't want #second to wrap below #first */
}
.marginai{
margin-left: :10px;
margin-right: 10px;
}
.marginaiplius{
  margin-left: :10px;
margin-right: 10px;
width:1300px;
}
.white{
  color:white
}
.img{
  width:30%
}
.height400{
  height:400px;
}
.width24{
  width:24px;
}