
body{
text-align:center ;
}
h1, h2, h3, h4, h5, h6{
font-size: 100px;
font-family:Impact, Charcoal, sans-serif;
}
p{
font-size:24;
font-family:"Comic Sans MS", cursive, sans-serif;
}
.informacija{
font-size:24;
font-family:"Comic Sans MS", cursive, sans-serif;
color:black;
background: white;
background-clip: content-box;
}
.shadowbox {
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  padding: 8px 12px;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
}
.fadein {
z-index: 1;
}
