body{
text-align:center ;
}
h1, h2, h3, h4, h5, h6{
font-size: 100px;
font-family:Impact, Charcoal, sans-serif;
}
p,{
font-size:24;
font-family:"Comic Sans MS", cursive, sans-serif;
}
informacija{
font-size:24;
font-family:"Comic Sans MS", cursive, sans-serif;
color:black;
background: white;
background-clip: content-box;
}
